<div class="container">
  <div class="row">
    <div class="col-sm-2">
      <button mat-flat-button class="btn-add-book" (click)="openDialog()">
        ADD BOOK
      </button>
    </div>
    <div class="col-sm-10">
      <mat-form-field class="searcBar">
        <mat-label>Search books</mat-label>
        <input matInput [(ngModel)]="searchField" name="searchBooks" />
        <button
          mat-button
          mat-icon-button
          matSuffix
          (click)="clearSearchField()"
          *ngIf="searchField"
        >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </div>
  <div class="row-books">
    <mat-card
      matCard
      class="books"
      *ngFor="let book of books | filter: searchField"
    >
      <mat-card-header class="card-header">
        <div mat-card-avatar class="book-header-image"></div>
        <mat-card-title> {{ book.title }} </mat-card-title>
        <mat-card-subtitle> {{ book.author }} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>
          {{ book.description }}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col reserveBook">
            <button
              mat-stroked-button
              class="btn-reserve"
              (click)="newLoan(book)"
            >
              Loan
            </button>
          </div>
          <div class="col deleteBook">
            <button
              mat-icon-button
              (click)="setCurrentBook(book); deleteBook(currentBook)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
