.container {
  margin: 1rem 0 0 0;
  .mat-form-field {
    width: 100%;
  }
  .btn-add-book {
    margin: 0.5rem;
    background-color: #3f51b5;
    color: #ffffff;
    font-family: Raleway;
    text-transform: uppercase;
  }
  .btn-add-book:hover {
    background-color: white;
    color: #3f51b5;
    font-family: Raleway;
  }
  .row-books {
    display: flex;
    flex-wrap: wrap;
    mat-card {
      background-color: rgba(0, 0, 0, 0.03);
      width: 250px;
      margin: 0 0.75% 2% 0.75%;
      box-shadow: none;
      border: solid 0.25px rgba(0, 0, 0, 0.377);
      .card-header {
        padding: 0;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        border-bottom: none;
      }
      .book-header-image {
        background-image: url("../../../assets/insert_photo-black-18dp.svg");
        background-size: cover;
        opacity: 0.7;
      }
      col {
        width: 50%;
        background-color: aquamarine;
      }
      .reserveBook {
        text-align: center;
      }
      .deleteBook {
        text-align: right;
        mat-icon {
          color: red;
        }
      }
      .btn-reserve {
        border: solid 1px #3f51b5;
      }
      .btn-reserve:hover {
        background-color: #3f51b5;
        color: #ffffff;
        border: none;
      }
    }
  }
}
