.container {
    width: min-content;
    .mat-form-field {
        width: 100%;
    }
    .actionBar {
        display: flex;
        height: 2rem;
        align-items: stretch;
        font-family: Raleway;
        .col {
            width: 50%;
            height: 100%;
            text-align: center;
            align-items: center;
            button {
                width: 100%;
            }
            .addBtn {
                background-color: #3f51b5;
                color: white;
            }
            .addBtn:hover {
                background-color: white;
                color: #3f51b5;
                border: solid 1px #3f51b5 ;
            }
            .cancelBtn:hover{
                color: #3f51b5;
            }
        }
    }
}