<div class="container">
  <div class="row">
    <h1 mat-dialog-title>New Loan</h1>
    <form [formGroup]="newLoanForm" class="add-book-form">
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" />
      </mat-form-field>
      <br />
      <mat-form-field appearance="fill">
        <mat-label>Planned Return</mat-label>
        <input
          matInput
          [matDatepicker]="plannedReturn"
          formControlName="plannedReturn"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="plannedReturn"
        ></mat-datepicker-toggle>
        <mat-datepicker #plannedReturn></mat-datepicker>
      </mat-form-field>
    </form>
  </div>
  <div class="row actionBar">
    <div class="col">
      <button mat-flat-button class="cancelBtn" (click)="onCancel()">
        CANCEL
      </button>
    </div>
    <div class="col" type="submit">
      <button mat-flat-button class="addBtn" (click)="onSubmitLoan()">
        SEND
      </button>
    </div>
  </div>
</div>
