<div class="container">
    <div class="row">
        <h1 mat-dialog-title>Add A Book</h1>
        <form [formGroup]="newBookForm" class="add-book-form">
            <mat-form-field appearance="fill">
                <mat-label>Author</mat-label>
                <input matInput formControlName="author">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Book Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
            <br>
            <mat-form-field appearance="fill">
                <mat-label>Book Description</mat-label>
                <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
        </form>
    </div>
    <div class="row actionBar">
        <div class="col">
            <button mat-flat-button class="cancelBtn" (click)="onCancel()">CANCEL</button>
        </div>
        <div class="col" type="submit">
            <button mat-flat-button class="addBtn" (click)="onSubmitBook()">ADD</button>
        </div>
    </div>
</div>