.wrapper {
    display: flexbox;  
    justify-content: center;
    width: 70%;
    margin-left: 15%;
    margin-top: 1rem;
}

.top-bar {
    background-color: #000000;
    font-family: "Playfair Display";
    color: white;
    text-transform: uppercase;
    .span {
        margin: auto;
    }
}