<mat-toolbar class="top-bar">
    <mat-toolbar-row>
      <span class="span">Book Rental Archive</span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="wrapper">
    <mat-tab-group mat-stretch-tabs mat-align-tabs="center" class="tab-selector">
        <mat-tab label="Books">
            <ng-template matTabContent>
                <app-books></app-books>
            </ng-template>
        </mat-tab>
        <mat-tab label="Rental Archive">
            <ng-template matTabContent>
                <app-loan-archive></app-loan-archive>
            </ng-template>
        </mat-tab>
    </mat-tab-group>
</div>