<div class="container">
  <div class="row">
    <h1 mat-dialog-title>Return</h1>
    <form [formGroup]="returnForm">
      <mat-form-field appearance="fill">
        <mat-label>Actual Return</mat-label>
        <input
          matInput
          [matDatepicker]="actualReturn"
          formControlName="actualReturn"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="actualReturn"
        ></mat-datepicker-toggle>
        <mat-datepicker #actualReturn></mat-datepicker>
      </mat-form-field>
    </form>
  </div>
  <div class="row actionBar">
    <div class="col">
      <button mat-flat-button class="cancelBtn" (click)="onCancel()">
        CANCEL
      </button>
    </div>
    <div class="col" type="submit">
      <button mat-flat-button class="addBtn" (click)="onSubmitReturn()">
        SEND
      </button>
    </div>
  </div>
</div>
