<div class="container">
  <div class="row">
    <mat-form-field class="searcBar">
      <mat-label>Search users by name</mat-label>
      <input matInput [(ngModel)]="searchField" name="searchBooks" />
      <button
        mat-button
        mat-icon-button
        matSuffix
        (click)="clearSearchField()"
        *ngIf="searchField"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="row">
    <mat-card
      matCard
      class="loanArchive"
      *ngFor="let user of loanArchives | filter: searchField"
    >
      <mat-card-header class="card-header">
        <div mat-card-avatar class="book-header-image"></div>
        <mat-card-title>
          {{ user.firstName }} {{ user.lastName }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ user.loanDate | date: "fullDate" }}
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngFor="let book of books">
        <div class="info" *ngIf="user.bookId === book.id">
          <p>
            Book: <b>{{ book.title }}</b>
          </p>
          <br />
          <p>
            Author: <b>{{ book.author }}</b>
          </p>
          <br />
          <p>
            Return dade: <b>{{ user.plannedReturn | date: "fullDate" }}</b>
          </p>
        </div>
      </mat-card-content>
      <mat-card-actions>
        <div class="row">
          <div class="col returnBook">
            <button
              mat-stroked-button
              class="btn-return"
              *ngIf="user.actualReturn === '0001-01-01T00:00:00'"
              (click)="updateLoan(user)"
            >
              Return book
            </button>
          </div>
        </div>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
