.container {
  margin: 1rem 0 0 0;
  .row {
    display: flex;
    flex-wrap: wrap;
    mat-card {
      background-color: rgba(0, 0, 0, 0.03);
      width: 250px;
      margin: 0 0.75% 2% 0.75%;
      box-shadow: none;
      border: solid 0.25px rgba(0, 0, 0, 0.377);
      .card-header {
        padding: 0;
        margin-bottom: 0;
        background-color: rgba(0, 0, 0, 0);
        border-bottom: none;
      }
      .book-header-image {
        background-image: url("../../../assets/account_box-black-18dp.svg");
        background-size: cover;
        opacity: 0.7;
      }
      col {
        width: 50%;
        background-color: aquamarine;
      }
      .returnBook {
        text-align: center;
      }
      .deleteBook {
        text-align: right;
        mat-icon {
          color: red;
        }
      }
      .btn-return {
        border: solid 1px #3f51b5;
      }
      .btn-return:hover {
        background-color: #3f51b5;
        color: #ffffff;
        border: none;
      }
    }
  }
}
